<a href="https://colab.research.google.com/github/Vanagand/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Copy_of_Playing_with_Pandas_DS13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Import data (Landslide data from NASA):
https://query.data.world/s/h63v5sypgtnhkpevtqbdf3v472ppic

In [0]:
import pandas as pd
import numpy as np

In [0]:
nasa_landslide_url = 'https://query.data.world/s/h63v5sypgtnhkpevtqbdf3v472ppic'

df_nasa = pd.read_csv(nasa_landslide_url)


2) Get a look at the data:
Print the head of the data.

In [8]:
df_nasa.head()

   id        date  ...  longitude                                 geolocation
0   1  01/02/2007  ...  -3.587500   (54.549399999999999, -3.5874999999999999)
1   2  01/03/2007  ... -75.426700  (-10.383800000000001, -75.426699999999997)
2   3  01/05/2007  ... -42.536362  (-22.282346350000001, -42.536362050000001)
3   4  01/05/2007  ... -42.673400  (-22.045200000000001, -42.673400000000001)
4   5  01/05/2007  ... -46.613600  (-23.231100000000001, -46.613599999999998)

[5 rows x 34 columns]

3) Create two variables named "pop" and "shape": 
 Assign the "pop" variable to the mean of the population column and the "shape" variable to the shape of the dataset.

In [46]:
pop_mean = df_nasa["population"].mean(axis=0, skipna=True)

# rounding result to 2 decimals
pop = round(pop_mean, 2)
print(pop)

156874.91

In [39]:
shape = df_nasa.shape

print(shape)

(9564, 34)

**STRETCH GOAL:**
Finish early? Find the median, mean, and mode of more columns and print them. Done that? Add standard deviation and variance. Play around with display options and print statements to create an output that is accessible to others.

In [51]:
round(df_nasa.describe(), 5)

               id  fatalities    injuries  ...  changeset_id    latitude   longitude
count  9564.00000  8212.00000  3942.00000  ...  9.555000e+03  9564.00000  9564.00000
mean   4824.00826     3.53714     0.85236  ...  8.807481e+08    25.66181     3.81578
std    2799.04012    64.66976     8.28079  ...  1.325119e+09    20.41618   100.23868
min       1.00000     0.00000     0.00000  ...  1.000000e+00   -46.77480  -170.79980
25%    2401.75000     0.00000     0.00000  ...  1.000000e+00    13.57908  -104.92000
50%    4805.50000     0.00000     0.00000  ...  1.000000e+00    29.85540    23.18405
75%    7253.25000     1.00000     0.00000  ...  1.642595e+09    41.13458    94.35970
max    9685.00000  5000.00000   374.00000  ...  4.294356e+09    72.62750   179.42210

[8 rows x 10 columns]

In [77]:
# Population mean
round(df_nasa["population"].mean(), 4)

156874.9141

In [79]:
# Population median
df_nasa["population"].median()

7317.0

In [80]:
# Population standard deviation
df_nasa["population"].std()

827242.7013869479

In [73]:
# Population mode
df_nasa["population"].mode()

0    0.0
dtype: float64

In [74]:
# Population variance
df_nasa["population"].var()

684330486997.975